    margin:0;
    padding:0;
    box-sizing:border-box;  
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}
.site-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--primary);
    transition: background 0.3s ease, box-shadow 0.3s ease; /*Day 9*/
}

/* CSS CUSTOM PROPERTIES (VARIABLES)  - DRY PRINCIPLE*/
:root{
    --primary:#4276e7;
    --accent: #825cc9;
    --text: #1f2937;
    --light: #F8FAFC;
    --white: #FFFFFF;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--font-main);
    color:var(--text);
    line-height: 1.6;
    background-color: var(--white);
}